{% extends "base.html" %}
{% block title %}
    Главная
{% endblock %}
{% block content %}
    Здравствуйте, здравствуйте!
    <br>
    <a href="{% url 'add_task' %}">Добавить задачу</a>
    <br>
    Ваши задачи:
    <table>
        <thead>
            <th>
                Название
            </th>
            <th>
                Дедлайн
            </th>
            <th>
                Статус
            </th>
            <th>
            </th>
        </thead>
    {% for task in existing_data %}
        <tr>
            <td>
                {{ task.title }}
            </td>
            <td>
                {{ task.estimate }}
            </td>
            <td>
                {{ task.state }}
            </td>
            <td>
                <a href="/edit/{{ task.title }}">Отредактировать</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}