{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if parent_roadmap == None %}
        Все задачи
    {% else %}
        Все задачи дорожной карты {{ parent_roadmap.title }}
    {% endif %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    Здравствуйте, здравствуйте!
    <br>
    <a href="{% url 'add_task' %}{% if parent_roadmap != None %}{{ parent_roadmap.id }}/{% endif %}">Добавить задачу</a>
    <br>
    Ваши задачи:
    <table>
        <thead>
            <th>
                Название
            </th>
            <th>
                Дедлайн
            </th>
            <th>
                Статус
            </th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
    {% for task in existing_data %}
        <tr>
            <td>
                {{ task.title }}
            </td>
            <td>
                {{ task.estimate }}
            </td>
            <td>
                {{ task.state }}
            </td>
            <td>
                <a href="{% url 'edit_task' task_id=task.id %}">Отредактировать</a>
            </td>
            <td>
                <a href="{% url 'delete_task' task_id=task.id %}">Удалить</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}