{% extends "base.html" %}
{% load static %}

{% block title %}
    Редактирование задачи
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/task_form.css">
{% endblock %}

{% block content %}
    <form action="{% url 'edit_task' task_id=task_id %}" method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <h3>{{ field.label }}</h3>
            {{ field.as_widget }} {{ field.errors | join:"; " }}
        {% endfor %}
        <br>
        <br>
        <button class="btn" type="submit">Сохранить</button>
        <br>
    </form>
    <br>
    <a href="{% url 'index' %}">Вернуться на главную</a>

    {% if form.errors|length == 0 and form.is_valid and request.method == "POST" %}
        <h3>Успех! Вот, что получилось: </h3>
        <p><span {% if isCritical %}class="critical"{% endif %}>Задача: {{ form.cleaned_data.title }}</span></p>
        <p>Выполнить до {{ form.cleaned_data.estimate }}</p>
        <p>Cтатус: {{ form.cleaned_data.state }}</p>
    {% endif %}
{% endblock %}
