{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="shortcut icon" href="/static/img/head.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <script src = "/static/script/jquery-3.2.1.js"></script>
        <script src = "/static/script/fadeScript.js" ></script>
</head>
<body>
    <h1 class="first-title">
        Task Manager
    </h1>
    <h2 class="show_it">
            Успей всё
    </h2>
    <div id="btnContainer" class="showIt">
        <a class="btn" href="{% url 'signin' %}">Вход</a>
        <a class="btn" href="{% url 'signup' %}">Регистрация</a>
{#        <a class="btn" href="{% url 'hot' %}">Без регистрации и смс</a>#}
    </div>
</body>
</html>