{% extends 'main.html' %}
{% block title %}
    Смена пароля
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
{% endblock %}

{% block content %}
    <form action="{% url 'change_password' %}" method="POST" class="form main_form">
        {% csrf_token %}
        <div class="form_title">
            Изменение пароля
        </div>
        <div class="form_input">
        {% for field in form.visible_fields %}
            <h3>{{ field.label }}</h3>
            {{ field }} {{ field.errors | join:"; " }}
        {% endfor %}
        </div>
        <br>
        <button class="form_button" type="submit">Сохранить</button>
    </form>
{% endblock %}