{% extends "main.html" %}
{% load static %}

{% block title %}
    Список дорожных карт
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/hot_and_failed.css">
{% endblock %}

{% block content %}
    {% if roadmaps|length != 0 %}
    <h1> Ваши дорожные карты: </h1>
    <table class="inner_table">
        <thead>
            <th>
                Название
            </th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
        {% for roadmap in roadmaps %}
            <tr>
                <td class="info">
                    {{ roadmap.title }}
                </td>
                <td class="action_btn">
                    <a href="{% url 'tasks' roadmap_id=roadmap.id %}" class="hot_link">Просмотр</a>
                </td>
                <td class="action_btn">
                    <a href="{% url 'delete_roadmap' roadmap_id=roadmap.id %}" class="hot_link">Удалить</a>
                </td>
                <td class="action_btn">
                    <a href="{% url 'roadmap_stat' roadmap_id=roadmap.id %}" class="hot_link">Статистика</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2> Список дорожных карт пуст </h2>
    {% endif %}
{% endblock %}