{% extends 'main.html' %}
{% block title %}
    Просмотр профиля
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/hot_and_failed.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
{% endblock %}

{% block content %}
    <h3>Профиль пользователя {{ form.instance.first_name }} {{ form.instance.last_name }}</h3>
    <form action="{% url 'edit_profile' %}" method="GET" class="form main_form">
        {% csrf_token %}
        <div class="form_input">
        <fieldset disabled>
        {% for field in form.visible_fields %}
            <h3>{{ field.label }}</h3>
            {{ field }} {{ field.errors | join:"; " }}
        {% endfor %}
        </fieldset>
        </div>
        <br>
        {% if request.user == form.instance %}
        <button class="form_button" type="submit">Изменить</button>
        {% endif %}
{% endblock %}