{% extends 'main_login.html' %}
{% block title %}
    Вход
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
{% endblock %}

{% block content %}
    <form action="{% url 'signin' %}" method="POST" class="form main_form">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </p>
        {% endfor %}
        {% endif %}
        <div class="form_title">
            Аутентификация
        </div>
        <div class="form_input">
        {% for field in form.visible_fields %}
            <h3>{{ field.label }}</h3>
            {{ field }} {{ field.errors | join:"; " }}
        {% endfor %}
        </div>
        <br>
        <button class="form_button" type="submit">Войти</button>
    </form>
    <br>
    <a  class="form_button" href="{% url 'social:begin' 'github' %}">Connect to GitHub</a>
{% endblock %}