{% extends 'main.html' %}
{% load static %}

{% block title %}
    Статистика
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/hot_and_failed.css">
{% endblock %}

{% block content %}
    <h3>Созданные/решённые</h3>
    <table class="inner_table">
        <thead>
            <th>
                Год
            </th>
            <th>
                Номер недели
            </th>
            <th>
                Дата начала
            </th>
            <th>
                Дата окончания
            </th>
            <th>
                Создано
            </th>
            <th>
                Решено
            </th>
        </thead>
        <tbody>
        {% for line in table1_lines %}
            <tr>
                <td class="info">
                    {{ line.year }}
                </td>
                <td class="info">
                    {{ line.weekno }}
                </td>
                <td class="info">
                    {{ line.start_date }}
                </td>
                <td class="info">
                    {{ line.end_date }}
                </td>
                <td class="info">
                    {{ line.created_count }}
                </td>
                <td class="info">
                    {{ line.finished_count }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Очки</h3>
    <table class="inner_table">
        <thead>
            <th>
                Месяц
            </th>
            <th>
                Зачислено
            </th>
        </thead>
        <tbody>
        {% for line in table2_lines %}
            <tr>
                <td class="info">
                    {{ line.year_month|date:"F Y" }}
                </td>
                <td class="info">
                    {{ line.points }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}