{% extends "main.html" %}
{% load static %}

{% block title %}
    {% if parent_roadmap == None %}
        Все задачи
    {% else %}
        Все задачи дорожной карты {{ parent_roadmap.title }}
    {% endif %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/hot_and_failed.css">
{% endblock %}

{% block content %}
    {% if existing_data|length != 0 %}
    {% if parent_roadmap == None %}
        <h1> Ваши задачи </h1>
    {% else %}
        <div class="title">
            <h1 class="rm_title"> Задачи дорожной карты "{{ parent_roadmap.title }}" </h1>
            <a class="go_back" href="{% url 'roadmaps' %}">Назад</a>
        </div>
    {% endif %}
    <table class="inner_table">
        <thead>
            <th>
                Название
            </th>
            <th>
                Дедлайн
            </th>
            <th>
                Статус
            </th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
    {% for task in existing_data %}
        <tr>
            <td class="info">
                <span {% if task.is_critical %}class="critical"{% endif %}>{{ task.title }}</span>
            </td>
            <td class="info">
                <span {% if task.is_critical %}class="critical"{% endif %}>{{ task.estimate }}</span>
            </td>
            <td class="info">
                <span {% if task.is_critical %}class="critical"{% endif %}>{{ task.state }}</span>
            </td>
            <td class="action_btn">
                <a href="{% url 'edit_task' task_id=task.id %}" class="hot_link">Отредактировать</a>
            </td>
            <td class="action_btn">
                <a href="{% url 'delete_task' task_id=task.id %}" class="hot_link">Удалить</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2> Список задач пуст. Отдохните </h2> <!--исправить для ДК-->
    {% endif %}
    <br>
{% endblock %}