{% extends "main.html" %}
{% load static %}

{% block title %}
    Добавление задач
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
{% endblock %}

{% block content %}
    <form action="{% url 'add_task' %}" method="post" class="form main_form">
        {% csrf_token %}
        <div class="form_title">
            Добавление задачи
        </div>
        <div class="form_input">
        {% for field in form.visible_fields %}
            <h3>{{ field.label }}</h3>
            {{ field }} {{ field.errors | join:"; " }}
        {% endfor %}
        </div>
        <br>
        <button class="form_button" type="submit">Сохранить</button>
        <br>
{#        {% if form.errors|length == 0 and form.is_valid %}#}
{#            <h3>Успех! Вот, что получилось: </h3>#}
{#            <p><span {% if form.instance.is_critical %}class="critical"{% endif %}>Задача: {{ form.cleaned_data.title }}</span></p>#}
{#            <p>Выполнить до {{ form.cleaned_data.estimate }}</p>#}
{#        {% endif %}#}
    </form>
    <br>
{% endblock %}